*{
    margin: 0;
    padding: 0;
}

div{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 2rem 3rem;
    background-color: blueviolet;
    color: white;
    animation: bounce 2s ease-in infinite;
    font-size: 2rem;
    border-radius: 2rem;
}

@keyframes bounce{
    from{
        transform: translateY(200px)
    }
    50%{transform: translateY(-200px)}
    to{transform: translateY(200px);}
}

